/*
 * Elements Placeholders
 */
#elements-list ul{
    margin: 0;
    padding:0;
}

.element-placeholder {
    border: 1px inset #21313f;
    cursor: move;
    display: inline-block;
    height: 115px;
    width: 115px;
}

.element-placeholder:hover{
    background-color: #3e5267;
}

.element-placeholder .image {
    height: 57px;
    margin: 20px auto 8px;
    width: 54px;
}
.element-placeholder label {
    color: #5e768e;
    display: block;
    font-family: ProximaNova-SmallBold;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

.dragging{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.element-placeholder.title .image { background: url('../../img/Element-Icons.png') no-repeat -8px -7px; }
.element-placeholder.text .image { background: url('../../img/Element-Icons.png') no-repeat -62px -7px; }
.element-placeholder.image .image { background: url('../../img/Element-Icons.png') no-repeat -116px -7px; }
.element-placeholder.nav .image { background: url('../../img/Element-Icons.png') no-repeat -171px -7px; }