/* Toolbar  Styles */
#toolbar .container {
    background-color: #2c3e50;
    min-height: 100px;
    width: 235px;
}

#toolbar .container > .title {
    background-color: #4f657b;
    border-bottom: 2px solid #1a2733;
    color: #9cb3ca;
    font-family: ProximaNova-SmallBold;
    font-size: 13px;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
}

#toolbar .container .toolbar-content {
   border-bottom: 2px solid #1a2733;
}

#toolbar .container ul { list-style: none; }