/* Toolbar Settings Styles */
.setting {
    border-bottom: 3px solid #21313f;
    padding: 11px 0px 15px 25px;
}

.setting label{
    color: #5e768e;
    display: inline-block;
    font-family: ProximaNova-SmallBold;
    font-size: 13px;
    vertical-align: middle;
    text-transform: uppercase;
}

/*
 *  Site Grid Toggle Button
 */
.setting .btn.toggle{
    background: url('../../img/Toggle-Switch.png') no-repeat -0px -6px;
    display: inline-block;
    height: 25px;
    margin-left: 60px;
    vertical-align: middle;
    width: 60px;
}

.setting .btn.toggle:hover{ background: url('../../img/Toggle-Switch.png') no-repeat -0px -31px; }
.setting .btn.toggle:active{ background: url('../../img/Toggle-Switch.png') no-repeat -0px -56px; }
.setting .btn.toggle.enabled{ background: url('../../img/Toggle-Switch.png') no-repeat -0px -56px; }